
body, h1, h2, p, ul, img, button {
    box-sizing: border-box;
    text-align: center;
    
}
li, title {
    margin-left: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
}


.container3 {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    
    
    
}
.container4 {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    

    
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo img {
    max-width: 100px;
}

form {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

.logo img {
    margin-right: 30px;
    max-width: 150px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #333333; 
    font-weight: bold;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #666666; 
}


.store-title {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #f0f0f0; /* Cambia el color de fondo del contenedor si lo deseas */
}

/* Estilo para el botón de inicio de sesión */
.container{
    margin-top: 20px;
    max-width: 100%;
}
.card
{
    width: 600px;
    height: 430px;
}

h5{
    font-weight: bold;
    padding: 20px;
}
  /* Estilos para los botones de editar */
  .editar-btn {
    background-color: #1cc5ef;
    color: white;
    border: none; /* Quitamos los bordes */
    padding: 5px 10px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    width: 70px;
}

/* Estilos para cuando el cursor está sobre el botón */
.editar-btn:hover {
    background-color: #a5a4a4; }

/* Alinear los elementos de texto y botón en una línea */
.card-text p {
    display: flex;
    margin-bottom: 5px;
}

/* Establecer un ancho máximo para los elementos de texto */
.card-text span {
    flex: 1;
    max-width: 200px; /* Cambia este valor según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}